* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  -webkit-text-size-adjust: none;
}
:root {
  --primary-purple: #c3cbff;
  --primary-light-green: #cef4ea;
  --primary-pink: #fadcff;
  --primary-yellow: #507fe6;
  --primary-green: #333333;
  --primary-white: #ffffff;
  --secondary-color: #373737;
  --secondary-color-60: rgba(55, 55, 55, 0.6);
  --secondary-color-40: rgba(55, 55, 55, 0.4);
  --secondary-color-20: rgba(55, 55, 55, 0.2);
  --secondary-color-05: rgba(55, 55, 55, 0.05);
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
strong,
button,
ul,
li {
  margin: 0;
  padding: 0;
  color: var(--secondary-color);
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.02em;
}
button {
  background: unset;
  border: unset;
  cursor: pointer;
  transition: 0.5s;
}
.arrow-wrap {
  position: absolute;
  right: 40px;
  top: 60px;
  display: flex;
  gap: 15px;
}
.arrow-btn:disabled {
  position: relative;
  cursor: not-allowed;
}
.arrow-btn:disabled svg {
  opacity: 0.4;
}
.arrow-btn:not(:disabled):hover svg rect:first-child {
  fill: var(--primary-purple);
  transition: 0.5s;
}
.arrow-btn:disabled .dis-btn-tooltip,
.arrow-btn .dis-btn-tooltip {
  opacity: 0;
  position: absolute;
  padding: 10px 20px;
  color: var(--secondary-color);
  background: #ffffff;
  border: 1px solid var(--secondary-color);
  max-width: 300px;
  width: 300px;
  box-shadow: 0px 4px 2px var(--secondary-color-40);
  border-radius: 20px;
  top: 60px;
  right: 0;
  transition: 0.5s;
  text-align: left;
}
.arrow-btn:disabled:hover .dis-btn-tooltip {
  opacity: 1;
  transition: 0.5s;
}
.arrow-btn:not(:disabled):hover svg rect:last-child {
  stroke: transparent;
  transition: 0.5s;
}
.h1 {
  font-weight: 800;
  font-size: 60px;
  line-height: 90px;
}
.h2 {
  font-weight: 800;
  font-size: 36px;
  line-height: 54px;
}
.h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
.h4 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
p {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
.p-12 {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}
.p-10 {
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
}
/* section  */
.container {
  background: url("../src/scrum-bg.webp") center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 1080px;
  overflow: hidden;
}
.container .outer-wrap {
  position: relative;
  width: 100vw;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
.container .inner-wrap {
  display: flex;
  scroll-behavior: smooth;
  width: fit-content;
}
.container section {
  max-width: 1200px;
  width: 1200px;
  margin: 0px auto;
  border-radius: 30px;
  padding: 40px 40px 0;
  background-color: var(--primary-white);
  height: 960px;
  position: relative;
  overflow: hidden;
  transition: 0.8s;
}
section > p {
  max-width: 964px;
  color: var(--secondary-color);
}
.cta-button.disable {
  opacity: 0.4;
  cursor: not-allowed;
}
.cta-button {
  padding: 20px 40px;
  background-color: var(--primary-purple);
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  border: 1px solid transparent;
  box-shadow: 0px 4px 2px var(--secondary-color-40);
  border-radius: 200px;
  transition: 0.3s;
  cursor: pointer;
}

.cta-button:not(.disable):hover {
  background-color: var(--primary-white);
  border: 1px solid var(--secondary-color);
  transition: 0.3s;
}
.progress {
  display: flex;
  gap: 5px;
  width: 1200px;
  max-width: 100%;
  height: 15px;
  list-style: none;
  top: 0;
  left: 0;
  position: absolute;
}
.progress li {
  width: 167px;
  background-color: #eef0ff;
  gap: 5px;
  flex: 0 1 167px;
}
.progress li.active {
  background-color: var(--primary-purple);
}
button.reset {
  padding: 6px 20px;
  border-radius: 100px;
  border: 1px solid var(--secondary-color);
  background-color: var(--primary-white);
  cursor: pointer;
  transition: backgrounnd-color 0.3s ease;
}
button.reset.disable {
  opacity: 0.4;
  cursor: not-allowed;
}
button.reset:not(.disable):hover {
  background-color: var(--primary-purple);
  border: 1px solid transparent;
  transition: backgrounnd-color 0.3s ease;
}
:not([draggable="true"]),
[draggable="true"],
img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
[draggable="false"] {
  cursor: unset !important;
}
.screen-max {
  width: 100vw;
  height: 100vh;
  background: var(--secondary-color-60);
  backdrop-filter: blur(20px);
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  text-align: left;
  z-index: 100;
  position: fixed;
  top: 0;
}
.screen-max p {
  color: #feec71;
  max-width: 340px;
}
.display-none {
  display: none;
}
.dragging {
  opacity: 0.5;
}
