.opening {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.opening h1 {
  width: fit-content;
}

.opening div {
  display: flex;
  flex-direction: row;
  margin: 20px 0 60px;
  width: 790px;
}

.opening div h4 {
  margin-left: 45px;
}

.opening input[type="text"] {
  padding: 24px 135px;
  border: 1px solid #373737;
  border-radius: 30px;
  font-size: 16px;
  text-align: center;
}

.opening input[type="text"]:focus {
  border-color: var(--primary-purple);
}

.opening button {
  margin-top: 20px;
  padding: 20px 40px;
  background: #feec71;
  border: none;
  box-shadow: 0px 4px 2px rgba(55, 55, 55, 0.4);
  border-radius: 200px;
  background: #feec71;
  box-shadow: 0px 4px 2px rgba(55, 55, 55, 0.4);
  border-radius: 200px;
  color: #373737;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
}

.team > div.team-div {
  width: 800px;
  margin: 60px auto 0 auto;
}
.team > div.team-div > div.funtions {
  display: flex;
  flex-direction: row;
  margin-bottom: 45px;
}
.team > div.team-div > div.funtions > div.funtion-inner {
  margin-left: 90px;
}
.team > div.team-div > div.funtions > div.funtion-inner .h3 {
  margin-bottom: 10px;
}

.process .process-chart {
  padding: 100px 35px 0 35px;
  width: 100%;
  height: 680px;
  background: url(../src/scrum-process.webp);
  background-repeat: no-repeat;
  background-position-x: 110px;
  background-position-y: 67px;
  display: grid;
  grid-template-columns: 175px 465px 145px 125px;
  grid-template-rows: 160px 160px 160px;
  gap: 50px;
}
.process-instruction {
  color: rgba(55, 55, 55, 0.4);
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  margin-top: 10px;
}
.process .process-chart div {
  text-align: center;
}

.process .process-chart div img {
  margin-top: 10px;
}
.process .process-chart .daily-scrum {
  grid-column: 2 / -1;
}
.process .process-chart .daily-scrum p {
  width: 130px;
  font-weight: 800;
  font-size: 36px;
  line-height: 110%;
  text-align: center;
  margin-top: 33px;
  margin-left: 385px;
}
.process .process-chart .sprint-1-4 {
  grid-column: 2 / -1;
}
.process .process-chart .sprint-1-4 p {
  margin-left: 142px;
  margin-top: 4px;
  width: fit-content;
}

.hover-div {
  position: absolute;
}
.hover-div .more-info {
  position: absolute;
  padding: 10px 20px;
  width: 300px;
  border: 1px solid #373737;
  box-shadow: 0px 4px 2px rgba(55, 55, 55, 0.4);
  border-radius: 20px;
  background: #ffffff;
  display: none;
}

.hover-div .more-info .info-flex {
  display: flex;
  flex-direction: row;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(55, 55, 55, 0.2);
  align-items: center;
  margin-bottom: 10px;
}

.hover-div .more-info .info-flex h4 {
  margin-left: 7px;
}

.hover-div .more-info h4 {
  font-weight: 600;
}

.more-product-backlog {
  top: 100px;
  left: 225px;
}
.more-planning {
  top: 240px;
  left: 225px;
}
.more-backlog {
  top: 445px;
  left: 225px;
}
.more-sprint {
  top: 150px;
  left: 338px;
}
.more-scrum {
  top: 100px;
  left: 798px;
}
.more-review {
  top: 337px;
  left: 686px;
}
.more-retro {
  top: 294px;
  left: 805px;
}

.po {
  display: flex;
  flex-direction: column;
}

.po > div.po-div {
  border-width: 1px 1px 0px 1px;
  border-style: solid;
  border-color: rgba(55, 55, 55, 0.2);
  border-radius: 30px 30px 0px 0px;
  justify-self: flex-end;
  width: 1000px;
  align-self: center;
  padding: 40px 40px 0 40px;
  margin-top: auto;
}

.po > div.po-div > img {
  margin-bottom: 40px;
}

.po > div.po-div > .grid-top {
  display: grid;
  grid-template-columns: repeat(2, 450px);
  justify-items: center;
  row-gap: 15px;
  column-gap: 20px;
}
.po > div.po-div > .grid-top > div {
  display: flex;
  flex-direction: row;
}
.po > div.po-div > .grid-top > div p {
  padding: 10px;
}

.po > div.po-div > .grid-top > div p:first-child {
  background: rgba(55, 55, 55, 0.2);
  border: 1px solid rgba(55, 55, 55, 0.2);
  width: 170px;
}

.po > div.po-div > .grid-top > div p:last-child {
  border: 1px solid rgba(55, 55, 55, 0.2);
  width: 280px;
  margin-left: -1px;
}

.po > div.po-div > .grid-bottom {
  display: grid;
  grid-template-columns: 45px 305px 390px 180px;
  grid-template-rows: 45px 130px 130px 130px;
  justify-items: center;
  margin-top: 35px;
  margin-bottom: 35px;
}

.grid-bottom > div,
.grid-bottom > p {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(55, 55, 55, 0.2);
  padding: 10px;
}

.grid-bottom .gray-table {
  background: rgba(55, 55, 55, 0.05);
}

.grid-bottom .center-table {
  text-align: center;
}

.grid-bottom ul {
  list-style-position: inside;
}

.grid-bottom > div > textarea {
  width: 100%;
  height: 100%;
  padding: 10px;
  vertical-align: text-top;
}

.po button.cta-button,
.planning button.cta-button {
  position: absolute;
  bottom: 40px;
  left: 39%;
}

section.planning {
  padding: 40px 60px;
}

.planning > div.planning-div {
  display: grid;
  grid-template-columns: 160px auto 240px;
  margin-top: 25px;
}

.planning > div.planning-div > .plan-planning {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.planning > div.planning-div > .plan-planning > p {
  padding-left: 10px;
}

.planning > div.planning-div > .plan-planning > p:first-child {
  font-weight: 600;
  font-size: 10px;
}
.planning > div.planning-div > .plan-planning > p:nth-child(2) {
  padding-top: 10px;
  background: #e8effb;
  color: #2151c5;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}
.planning > div.planning-div > .plan-planning > p:nth-child(2) span {
  font-weight: 400;
  color: #2151c5;
  font-size: 12px;
  line-height: 18px;
}

.planning > div.planning-div > .plan-planning > p:nth-child(3),
.planning > div.planning-div > .plan-planning > p:nth-child(4),
.planning > div.planning-div > .plan-planning > p:nth-child(5),
.planning > div.planning-div > .plan-planning > p:last-child {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #e8effb;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.planning > div.planning-div > .plan-planning > .plan-active {
  background: #ceddf9 !important;
  border-left: 2px solid #2151c5;
}

.planning > div.planning-div > .plan-backlog {
  padding: 0 50px 0 40px;
}

.planning > div.planning-div > .plan-backlog .plan-backlog-first {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.planning > div.planning-div > .plan-backlog .plan-backlog-title {
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
}

.planning > div.planning-div > .plan-backlog .task-container {
  width: 584px;
  height: 280px;
  overflow-y: scroll;
  border: 1px solid rgba(55, 55, 55, 0.2);
  border-radius: 8px;
  padding: 4px;
  margin-top: 10px;
}
.planning > div.planning-div > .plan-backlog .task-container > div.tasks {
  width: 100%;
  height: fit-content;
  border: 1px solid rgba(55, 55, 55, 0.2);
  margin: -1px 0;
  padding: 10px 20px;
}

.tasks > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.tasks .task-div1 {
  margin-bottom: 10px;
}
.tasks .task-div1 .task-name {
  width: 205px;
  margin: 0 6px;
}
.tasks .task-div1 .p-10 {
  background: #d1efc3;
  border-radius: 5px;
  padding: 4.5px 10px;
  margin-right: 20px;
}
.tasks .task-div1 .task-no {
  color: rgba(55, 55, 55, 0.6);
  margin: 0 10px;
}
.tasks .task-div1 .p-12 {
  background: rgba(55, 55, 55, 0.2);
  border-radius: 20px;
  padding: 2px 10px;
  margin-left: 10px;
}

.tasks .task-scrum {
  margin: 0 10px;
}
.tasks .task-scrum {
  margin-left: 20px;
}
.planning > div.planning-div > .plan-backlog .plan-backlog-sprint {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}
.planning > div.planning-div > .plan-backlog .plan-backlog-sprint > svg {
  margin-right: 8px;
}
.planning > div.planning-div > .plan-backlog .plan-backlog-sprint > h4 {
  margin-right: 8px;
  font-weight: 600;
}

.planning > div.planning-div > .plan-backlog .plan-backlog-names {
  padding-left: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}
.names {
  border-radius: 200px;
  margin-left: 10px;
  width: 30px;
  height: 30px;
  text-align: center;
  padding-top: 4px;
}
.names-ff {
  background: #c3cbff;
}
.names-dh {
  background: #fef371;
}
.names-cc {
  background: #f9dafe;
}
.planning > div.planning-div > .plan-mission {
  padding-top: 10px;
}