/* daily  */
.daily>p:nth-child(3) {
    margin-top: 10px;
}

.daily>p:nth-child(4) {
    margin: 10px 0 20px;
}

.head-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 30px;
}

.head-date>p,
.end .h4 {
    font-weight: 600;
}

.daily .list-title,
.daily .list-ct {
    display: flex;
    gap: 13px;
}

.daily>p.h4>strong {
    font-weight: 600;
}

.daily .list-ct {
    margin-top: 12px;
    background-image: url('../src/jirasoftware-icon.webp');
    background-position: right 20px bottom 10px;
    background-repeat: no-repeat;
    background-size: 230px;

}

.daily .list-title h2 {
    padding: 15px;
    background: rgba(55, 55, 55, 0.05);
    flex: 0 1 270px;
}

.list-ct>div {
    flex: 0 1 270px;
    padding: 10px 10px 0;
    background-color: rgba(55, 55, 55, 0.05);
    height: 540px;
    overflow-y: scroll;
    scrollbar-width: none;
    scrollbar-gutter: 0;
    scrollbar-color: rgba(0, 0, 0, 0);
}

.list-ct .card {
    /* width: 250px; */
    /* height: 138px; */
    background: var(--primary-white);
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 15px;
    margin: 10px 0;
    cursor: grab;
}

.list-ct .list-done .card {
    cursor: unset;
}

.list-ct .card:first-child {
    margin-top: 0;
}

.card .card-inner {
    padding-left: 20px;
    border-left: 4px solid #C3CBFF;

}

.card .card-inner.pink {
    border-left: 4px solid var(--primary-pink);
}

.card .card-inner .date {
    margin: 10px 0 20px 0;
    color: rgba(55, 55, 55, 0.6);
    ;
}

.card-inner .under {
    display: flex;
    align-items: center;
    gap: 10px;
}

.under .hour {
    color: var(--primary-white);
    padding: 2px 10px;
    background: rgba(55, 55, 55, 0.6);
    border-radius: 20px;
}

.under .under-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.under-right>p {
    color: rgba(55, 55, 55, 0.6);
    font-size: 12px;
    line-height: 18px;
}

.under-right .done {
    text-decoration: line-through;
}

.pos-btn {
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    bottom: 40px;
}

/* review  */
.review>p {
    margin: 10px 0 35px;
}

.review-paper {
    max-width: 996px;
    margin: 0 auto;
    border: 1px solid rgba(55, 55, 55, 0.2);
    border-bottom: unset;
    border-radius: 30px 30px 0px 0px;
    padding: 40px;
    min-height: 732px;

}

.review-paper .review-flex {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding: 0 40px;
}

.review-flex .review-wrap {
    flex: 0 1 340px;
}

.review-flex .review-img {
    flex: 0 1 419px;
}

.review-img img {
    margin: 10px 0 20px;
}

.review-paper .review-top {
    border-bottom: 1px solid rgba(55, 55, 55, 0.2);
}

.review-top .attend {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 10px 0 25px;
}

.attend span {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 200px;
    padding: 4.5px 0;
    width: 30px;
    height: 30px;
}

.attend span:nth-child(2) {
    background: #C3CBFF;

}

.attend span:nth-child(3) {
    background: #FEF371;

}

.attend span:nth-child(4) {
    background: #F9DAFE;

}

.review-top .review-title {
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
}

.review-bot h3 {
    /* margin-bottom: 5px; */
}

.review-bot img {
    margin: 15px 0 30px;
}

.review-bot>p {
    color: #37373799;
}

.review-bot ul {
    display: grid;
    row-gap: 10px;
    margin: 10px 0 60px;
    padding-inline-start: 14px;
    color: var(--secondary-color);
}

.review-bot ul li {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

/* retro  */
.retro-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1080px;
    gap: 25px;
}

.retro-left {
    padding: 25px 15px 15px;
    background-color: #fafafa;
    border-radius: 30px;
    flex: 0 1 689px;

}

.retro-right {
    flex: 0 1 366px;
    border: 1px solid rgba(55, 55, 55, 0.4);
    border-radius: 30px;
}
.retro>p{
    margin: 10px 0 45px ;
}

.mission-title {
    padding: 30px;
    color: var(--secondary-color);
}

.mission-title p:nth-child(1) {
    font-weight: 600;
    margin-bottom: 20px;
}

.memo-container {
    padding: 15px 10px 0;
    position: relative;
    min-height: 400px;
    /* display: grid; */
    /* justify-content: center; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* row-gap: 30px; */
    top: 0;
    left: 0;
}

.memo-container>.memo {
    position: absolute;
}

.memo {
    position: relative;
    width: 100px;
    height: 100px;
    padding: 10px;
    /* top: 0;
        left: 0; */
}

.retro-left .three-tag {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 110px;
}

.retro-box {
    display: flex;
    margin-top: 20px;
}

.good-container,
.be-better-container,
.let-do-container {
    display: flex;
    flex-direction: column;
    padding: 60px 30px 0;
    align-items: center;
    gap: 20px;
    justify-content: flex-start;
    min-height: 445px;
    flex: 0 1 220px;

}

.three-tag p {
    padding: 10px 20px;
    border-radius: 200px;
}

.good-memo>p,
.be-better-memo>p,
.let-do-memo>p {
    font-weight: 400;
}

.good-memo,
.three-tag p:first-child {
    background: var(--primary-pink);
}

.be-better-memo,
.three-tag p:nth-child(2) {
    background: #FFEFC7;
}

.let-do-memo,
.three-tag p:nth-child(3) {
    background: #C3CBFF;
}

.good-container {
    background: rgba(250, 219, 255, 0.2);
}

.be-better-container {
    background: rgba(255, 239, 199, 0.2);
}

.let-do-container {
    background: rgba(195, 203, 255, 0.2);
}

.retro .head-date {
    margin-top: 25px;
    margin-bottom: 35px;
}

.end-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 886px;
    margin: 0 auto;
    padding-top: 295px;

}

.end .h2 {
    margin: 20px 0 40px;
}

.end .cta-button {
    margin: 60px auto 110px auto;
}

.end .under-text {
    text-align: center;
}

.end-icon {
    display: flex;
    gap: 30px;
    margin-top: 20px;
    justify-content: center;
}
.bg-balloon-right,.bg-balloon-left{
    max-width: 100%;
    height: auto;
    position: absolute;
}
.bg-balloon-right{
    top: 110px;
    right: 180px;
    animation: flow 3s infinite ease-in-out alternate-reverse;
}
.bg-balloon-left{
    bottom: 110px;
    left: 85px;
    animation: flow 3.5s 1s infinite ease-in-out alternate;
}
@keyframes flow {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(30px);
    }
    
}
.bg-star01{
    position: absolute;
    top: 130px;
    left: 345px;
    animation: spot 2.5s infinite ease-in-out alternate;
}
.bg-star02{
    position: absolute;
    top: 280px;
    left: 80px;
    animation: spot 3.5s 1s infinite ease-in alternate;
}
.bg-star03{
    position: absolute;
    top: 115px;
    left: 125px;
    animation: spot 3.2s 0.5s infinite ease-in-out alternate-reverse;
}
.bg-star04{
    position: absolute;
    top: 580px;
    right: 40px;
    animation: spot 2s 0.5s infinite ease-in-out alternate-reverse;
}
.bg-star05
{
    position: absolute;
    top: 675px;
    right: 215px;
    animation: spot 3s 0.5s infinite ease-in-out alternate-reverse;
}
.bg-star06
{
    position: absolute;
    bottom: 55px;
    right: 120px;
    animation: spot 2.5s 0.5s infinite ease-in-out alternate-reverse;
}
@keyframes spot{
    0%{
        transform:translateY(0) scale(1) rotate(0);
        
    }
    100%{
        transform: translateY(-20px) scale(1.5)  rotate(360deg);
    }
    
}